{% load static %}
<header class="section-header">


  <section class="header-mainnnn border-bottom">
    <div class="containerrr">

      <div class="row">
        <!-- <div class="col-lg-2 col-md-3 col-5"> -->
        <div class="col-lg-12" style="max-width: 1200px; margin-top:0px;">
          <a href={% url 'login' %} class="brand-wrapppp">
            <img class="logo" src="{% static '/images/menu_mcr1.png' %}">
          </a> <!-- brand-wrap.// -->
        </div>





      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->

</header> <!-- section-header.// -->
